<style>
  h2 {
    color: white;
    background: #555;
    padding: 6px;
    text-align: center;
  }
  .price {
    color: green;
    border: solid 1px green;
    padding: 4px;
  }
  img {
    float: left;
    margin-right: 40px;
    box-shadow: 8px 8px 4px gray;
    width: 400px;
  }
  p {
    margin-top: 24px;
    margin-bottom: 24px;
  }
</style>

<h2><%= @place.title %></h2>

<p>
  <span class="price">Admission:
    <%= number_to_currency @place.price / 100.0 %></span>
</p>

<%= image_tag @place.photo_url %>

<%= @place.description %>

<h3>Reviews</h3>

Write a review
